
<div class="container-fluid">
    <div class="titulo">
        <div class="row">
            <div class="col col-lg-3 col-md-5 col-sm-12 imagen text-center">
                <img src="assets/logoTec.png" class= "img-responsive" width="200px" height="200px" >
            </div>
            <div class="col col-lg-4 col-md-5 col-sm-12 col-12 p-3 nombre text-center">
                <p class="nom"><b>Tecnologico Nacional de Mexico</b>
                    <br><b>campus Culiacán</b>
                </p>
                <p class="ing">"Con la Tecnica al progreso"</p>
            </div>
            <div class= "col col-lg-4 col-sm-12 p-4 contacto text-center">
                <p>
                    <br><b>NOMBRE DEL ALUMNO:</b> Juan Manuel Ramírez Chávez
                    <br><b>Carrera:</b> Ingenieria en TIC's
                    <br><b>E-Mail:</b> Juanmaramirez55@gmail.com
                </p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-12 datos">
                <p class="text-center p-3">
                    <strong>Unidad 3. Programación del lado del Cliente</strong><br/>
                </p>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-12 competencias">
                <h2>COMPETENCIAS</h2>
               
                <div class="row">
                    <div class ="col col-lg-7 col-md-5 col-sm-12 col-12 comp1">
                        <ul>
                        <li>*Realizar investigación haciendo uso del método científico.</li>
                        <li>*Tener paciencia y capacidad de concentración.</li>
                        <li>*Ser competente individualmente.</li>
                        <li>*Poner en práctica lo aprendido en el semestre</li>
                        </ul>
                    </div>
                    <div class ="col col-lg-5 col-md-5 col-sm-12 col-12 comp2">
                        <p>
                            
                            *Hacer uso de Api´s
                            <br>-Api de direccion IP
                            <br>-Api de clima
                        </p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>





